@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #011627;
}

/* heading and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #011627;
}

#title{
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

header img{
    height: 110px;
    margin-top: 20px;
}

#menu{
    font-size: 110%;
    text-transform: uppercase;
    margin: 40px;
}

#menu, #logo, #title {
    line-height: 140px;
}

#menu li{
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a{
    text-decoration: none;
    font-weight: bold;
    color: inherit;
    padding:10px;
}

#menu a:hover{
    border: 1px solid #011627;
    background-color: #FFBA49;
}

.active {
    border-bottom: 3px solid #FFBA49;
}

#contact-us{
    background-color: #D00000;
    height: 50px;
}

.contact-icons{
    text-align: right;
}

.contact-icons > li{
    display: inline;  
}

.contact-icons i{
    color: #fcfff7; 
    margin-right: 30px;
    font-size: 160%;
    padding-top: 10px;

}

/* hero image */
#hero-outer {
    height: 750px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    height: 750px;
    width: 100%;
    background: url('../images/image3.jpg') no-repeat center center;
    background-size: cover;
}

